/*         model  */

.custom-modal-style {
    width: 897px;
    height: 802px;
    }
.main-add{
    width: 100px;
}
.btn-secondary {
    color: #fff;
    background-color: #051320;
    border-color: #1c2d3b;
}